<a href="https://colab.research.google.com/github/saima8/Problem-Solving/blob/main/CodeWars_10_10_21.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Square(n) Sum

In [ ]:
def square_sum(numbers):
    #your code here
    squares = []
    for num in numbers:
      squares.append( num ** 2)

    return sum(squares)

square_sum([1,2,3])

14

## Keep Hydrated!

In [ ]:
import math
def litres(time):
    return math.floor(time * 0.5)

litres(3)

1

## Function 1 - hello world

In [ ]:
def greet():
    return 'hello world!'

greet()

'hello world!'

### Practice

In [ ]:
from math import sqrt
def solve(n):
   sq_root = int(sqrt(n))
   return (sq_root*sq_root) == n
n = 36
print (solve(n))

True

## Century From Year

In [ ]:
def century(year):
    # Finish this :)
    if year % 100 == 0:
      return year / 100
    return int((year / 100) + 1)

century(1705)

18

## Basic Mathematical Operations

In [ ]:
def basic_op(operator, value1, value2):
    #your code here
    if operator == '+':
      return value1 + value2
    elif operator == '-':
      return value1 - value2
    elif operator == '*':
      return value1 * value2
    elif operator == '/':
      return value1 / value2

## Shortest Word

In [2]:
def find_short(s):
    # your code here
    words = s.split(" ")
    lengths = []
    for i in words:
      lengths.append(len(i))
    return min(lengths)

find_short('My name is Saima Khan')

2